<div class="card mb-3">
  <div>

    <b>
      <%= link_to order.hc_id, order %>
    </b>

    <%= render 'status_badge', order: %>
  </div>

  <div class="my-2">
    <b>going to: </b>
    <%= order.address.name_line %> (<%= order.recipient_email %>)
  </div>


  <b>contents:</b>
  <%= render 'warehouse/orders/line_items', order: %>

</div>
