<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Theseus" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'app_style.scss' %>


  </head>

  <body<% if Rails.env.development? %> class="not_prod"<% end %>>
    <% if Rails.env.development? %>
      <div class="dev-border-overlay"></div>
    <% end %>
    
    <div class="app-layout">
      <%= render "shared/nav" %>

      <div class="content-wrapper">
        <main class="content-container">
          <%= render "shared/flash" %>
          <%= yield %>
        </main>

        <footer class="footer mt-8 py-4 border-t">
          <div class="container">
            <p class="text-muted text-sm">
<!--        Build <%#= Rails.application.config.git_version %> from <%#= time_ago_in_words(Rails.application.config.server_start_time) %> ago.-->
<!--        <%#= pluralize(Heartbeat.cached_recent_count, 'heartbeat') %> in the last 24 hours.-->
<!--        (DB: <%#= pluralize(QueryCount::Counter.counter, "query") %>, <%#= QueryCount::Counter.counter_cache %> cached)-->
<!--        (CACHE: <%#= cache_stats[:hits] %> hits, <%#= cache_stats[:misses] %> misses)-->
            </p>
            <% if session[:impersonater_user_id] %>
              <%= link_to "Stop impersonating", stop_impersonating_path, class: "btn btn-sm btn-danger mt-2" %>
            <% end %>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
